.search-products {
  border-radius: 15px 15px 0 0;
  .v-expansion-panels {
    padding: 0 10px;
  }
  .v-expansion-panel::before {
    box-shadow: 0px 1px 1px -2px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 1px 0px rgb(0 0 0 / 12%) !important;
  }
  .all-product-display {
    h3 {
      padding: 10px 0;
    }
  }
  .container {
    padding: 0 !important;
  }
  .card-color-active {
    background: transparent !important;
  }
  .search-product-input {
    width: 270px;
  }
  .border-width-primary {
    border-width: 10px;
  }
  .search-product-section {
    height: 50px;
  }
  .border-width-secondary {
    border-width: 3px;
    margin-top: 15px;
  }
  .search-product-cart {
    padding-left: 15px;
  }
  .product-card {
    margin: 0 2px;
    border: 1px #e4e4e4 solid !important;
    .check-icon {
      right: 0px !important;
      position: absolute !important;
      z-index: 99;
      top: -6px;
    }
    
    .product-image {
      text-align: center;
      i {
        width: 100%;
        font-size: 60px;
        padding: 10px 0;
      }
    }
    .product-name,
    .product-price_store {
      font-size: 13px;
      padding: 5px;
      .price {
        padding: 0 7px 0 0;
      }
    }
  }
  .v-sheet.v-card {
    box-shadow: none !important;
  }
}
.drug-image {
  width: auto;
  height: 120px;
  border-top-left-radius: 20px;
  margin-bottom: -6px;
}
.no-content {
  padding: 0 20px;
}