.notification-top-section {
  padding-top: 8px;
  background: #1ac6b6;
  height: 60px;
  .notification-logo-wide {
    width: 41px;
  }
  .notification-main-title {
    margin-top: 0;
    margin-bottom: 15px;
    position: relative;
    float: right;
    left: -60px;
  }
  .notification-options {
    background: #f6f7f9;
    height: 45px;
    padding: 0 15px;
    margin-top: 0;
  }
  a {
    color: #60646a !important;
    text-decoration: none;
  }
  .notification-content-input {
    position: relative;
    left: 15px;
    top: 5px;
  }
  .notification-title {
    padding-left: 5px !important;
    display: flex;
    align-items: center;
  }
  .notification-logo {
    padding-right: 0 !important;
  }
}
.seen {
  background: #f3f3f3 !important;
  opacity: 0.7;
}
.notification-content {
  padding-top: 40px;
  ::-webkit-scrollbar {
      width: 0;  
      background: transparent; 
  }

  .notification-main-content {
    border: 1px solid grey;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background: transparent;

  }
  .notification-icon-back {
    text-decoration: none !important;
  }
  .notification-logo-icon {
    display: flex;
    align-self: center;
    padding: 0 10px !important;
    img {
      border-radius: 100%;
    }
  }
  .notification-created-at {
    font-size: 10px;
    text-align: right;
  }
  .notification-tag-request {
    padding-top: 13px;
  }
}
