.notification-top-section {
  padding-top: 15px;
  background: #1ac6b6;
  .notification-logo-wide {
    width: 55px;
  }
}
.notification-content {
  padding-top: 15px;

  .notification-main-content {
    border: 1px solid grey;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
  }
  .v-icon.outlined {
    border: 1px solid currentColor;
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
  .notification-logo-icon {
    font-weight: bold;
    i {
      font-size: 25px !important;
      margin-top: 10px;
    }
  }
  .notification-created-at {
    font-size: 14px;
  }
  .notification-tag-request {
    padding-top: 13px;
  }
}
