.login-logo {
    margin-top: 20px;
    img {
      display: block;
    }
}
.form-header {
  margin: 20px;
}
.form-inputs {
  margin: 20px;
}
.form-action {
  margin: 20px;
  button {
    margin: 20px;
  }
}
.login-main-btn {
  a {
    color: white;
  }
  border-radius: 20px;
  margin-bottom: 10px !important;
  padding: 10px 55px;
  background: #1ac6b6;
  color: white;
  text-align: center;
  text-decoration: none;
}

