.register-input-card a {
  color: white !important;
}
a {
  color: white;
}
.login-main-btn {
  position: static !important;
  margin-top: 15px;
}
.register-input-card {
  background: #ffffff;
  margin: 10px 30px;
  padding: 20px;
  border-radius: 28px 2px;
  box-shadow: 1px 1px 5px #8f8f8f;
}
.register-main-btn {
  border-radius: 20px 0px;
}
.registrar-buttons {
  margin: 45px 0;
}
.register-input-card {
}
.register-main-btn {
}
.user-register-btn {
}
