.register-input-card a {
  color: white !important;
}
a {
  color: white;
}
.register-input-card {
  background: #ffffff;
  position: relative;
  top: -25px;
  margin: 10px 30px;
  padding: 20px;
  border-radius: 28px 2px;
  box-shadow: 1px 1px 5px #8f8f8f;
}
.register-main-btn {
  border-radius: 20px 0px;
}
.registrar-buttons {
  margin: 45px 0;
}
.login-input-card {
  background: #ffffff;
  position: relative;
  top: -25px;
  margin: 10px 30px;
  padding: 20px;
  border-radius: 28px 2px;
  box-shadow: 1px 1px 5px #8f8f8f;
}
.login-logo {
  padding: 35px 15px;
}
.login-main-btn {
  border-radius: 20px;
  margin-bottom: 10px !important;
  padding: 10px 55px;
  background: #1ac6b6;
  position: relative;
  color: white;
  text-align: center;
  text-decoration: none;
}
.register-input-card {
  top: -90px !important;
}
.register-main-btn {
  top: -75px !important;
  position: relative;
}
.patient-register-btn {
  margin-top: 65px;
}
.user-register-btn {
  position: relative;
  top: 58px;
}
