.edit-profile-page {
  padding: 12px;
}
.sm-side-padding {
  padding: 0 12px;
}
.back-button {
  position: absolute;
  right: 20px;
  top: 15px;
}
.edit-profile-image {
  min-height: 150px;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 15px 0 40px 0;
  img {
    border-radius: 100%;
    width: 150px;
    height: 150px;
  }
}
.edit-image {
  position: absolute;
  right: 31vw;
  top: 17%;
}
.edit-profile-title {
  font-size: 18px;
  font-weight: bold;
}
