.edit-profile-inputs {
  padding: 12px;
}
.sm-side-padding {
  padding: 0 12px;
}
.back-button {
  position: absolute;
  right: 20px;
  top: 15px;
}
.edit-profile-image {
  min-height: 100px;
  height: auto;
  display: flex;
  justify-content: center;
  img {
    border-radius: 100%;
    width: 110px;
    height: 110px;
    object-fit: cover;
  }
}
.edit-image {
  position: absolute;
  right: 36vw;
  top: 17%;
  .change-profile-icon {
    .v-input__prepend-outer {
      margin-top: -10px !important;
    }
  }
}
.edit-profile-title {
  font-size: 18px;
  font-weight: bold;
}
.settings-header {
  background: #1ac6b6;
  display: flex;
  height: 50px;
  align-self: center;
  .back-btn {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .header-title {
    color: white !important;
    justify-content: center;
    width: 100%;
    font-weight: 400;
    text-align: center;
    font-size: 19px;
  }
}