/* All Medicines - Doctor's Account*/
.medicines-content {
    display: flex;
    width: 100%;
    justify-content: space-between
}

.pharmacy-list-section{
    align-items: center;
}
.pharmacy-list-section .v-avatar{
    margin-top: 0;
    margin-bottom: 0;
}