.medicines-content {
    display: grid !important;
    grid-template-columns: 80% 20%;
}

.pharmacy-list-section{
    align-items: center;
}
.pharmacy-list-section .v-avatar{
    margin-top: 0;
    margin-bottom: 0;
}
.drug-avatar{
    margin-top: auto !important;
    margin-bottom: auto !important;
}