.doctor-main-section {
  position: relative;
  top: 150px;
  .doctor-date {
    position: absolute;
    right: 0;
    margin-top: -31px;
    font-size: 12px;
  }
  .doctor-patient-title {
    font-size: 19px;
  }
  .doctor-patient-messages {
    padding: 10px 0px;
  }
}
