.patients-grid-title {
  padding-left: 0;
}
.patients-grid {
  padding: 10px;
}
.active {
  display: none !important;
}
.doctor-list-card {
  box-shadow: none !important;
}

.patients-grid-main-view {
  padding-bottom: 15px !important;
}
.search-patients-input {
  margin-bottom: -15px;
}
.patients-list-title {
  padding-bottom: 15px;
  padding-left: 0;
}
.doctor-information {
  .name {
    font-size: 19px;
    font-weight: bold;
  }
  .address,
  .contact {
    font-weight: 400;
  }
  .content {
    font-size: 15px;
    padding-top: 14px;
  }
}
.doctor-profile {
  margin-top: 60px;
  img {
    width: 40%;
    height: 40%;
    margin-top: -50px;
  }
}
.grid-single-image {
  img {
    width: 50px;
    height: 50px;
  }
}
.list-grid-btn {
  position: absolute;
  
  z-index: 999;
}
.patients-grid-view .v-sheet.v-card:not(.v-sheet--outlined),
.patient-list-view .v-sheet.v-card:not(.v-sheet--outlined) {
  box-shadow: none;
}
div#word-related {
  font-size: 13px;
}
.list-contact-patient {
  position: absolute;
  margin-top: 0 !important;
  right: 24px;
  z-index: 999 !important;
}
.patients-background-color{
  padding: 8px 0;
}
// .grid-contact-patient {
//   margin-top: 10px !important;
// }
.patient-list-main-btn {
  position: relative !important;
  z-index: 1 !important;
}
.list-profile-patient {
  position: absolute;
  right: 65px;
  margin-right: 20px;
    margin-top: 0 !important;
}
// .grid-profile-patient {
//   position: absolute;
//   right: 35px;
// }
.grid-contact-doctor {
  position: absolute;
  left: 35px;
}
