.search-pharmacy-input {
    height: 45px;
}
.no-prescription {
    padding-top: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.medicine-product-list li {
    list-style: none !important;
}
