.medicine-list-content {
  padding-left: 10px;
}
.patient_pharmacy_title {
  margin-top: 5px !important;
}
.medicine-sub-info {
  font-size: 12px;
  font-weight: 300;
}
.brand-title{
  margin: 0;
  text-align: center;
  margin-top: 1rem;
}
.pharmacy-list-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.med-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin: calc(0.5vw + 0.5em);
  text-align: center;
  width: 21.5%;
  // min-width: 180px;
}
.med-card img{
  width: 100%;
  max-width: 120px;
}
.medicines-content{
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}
.medicines-content .medicine-details{
  flex: auto;
}
.medicines-content .medicine-sub-info{
  flex: auto;
}
@media screen and (max-width: 768px) {
  .med-card{
    margin: calc(0.5vw + 0.4em);
  }
  .med-card .v-card__text {
    padding: 0.5rem;
  }
  .med-card img{
    max-width: 80px;
  }
  input, select, textarea {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .med-card{
    width: 30%;
    margin: calc(0.5vw + 0.2em);
  }
  .med-card .v-card__text {
    padding: 0.25rem;
  }
}