@media all and (max-width: 750px) {
  .sign-btn,
  .login-btn,
  .login-main-btn {
    width: 60% !important;
    border-radius: 20px 0px !important;
    margin-bottom: 10px !important;
  }
  .btn-radius {
    border-radius: 20px 0 !important;
  }
}
