@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './desktop', './tablet', './mobile';
body,
html {
  overflow: hidden; 
}
h1,
h2,
h3,
h4,
h5,
h6
{
  font-weight: 500;
  color: $green-blue;
  margin: 20px 0;
}
p {
  font-weight: 300;
}
div,
a {
  font-weight: 300;
  color: $green-blue !important;
}
a.v-btn {
  color: white !important;
}
.v-icon.outlined {
  border: 1px solid currentColor;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.no-margin {
  margin: 0 !important;
}
.width-fix {
  width: 100%;
}
.text-black {
  color: #000;
}
.text-white {
  color: #fff;
}
.text-center-pd {
  text-align: center;
}
.normal-mg {
  margin-top: 20px !important;
}
.sm-margin {
  margin-top: 10px !important;
}
.margin-top-pull {
  margin-top: -20px !important;
}
.text-center {
  text-align: center;
  // padding: 15px 50px;
}
.no-padding {
  padding: 0 !important;
}
.padding-content {
  padding: 1% 7%;
}
.full-width {
  width: 100%;
}
.margin-right-sm {
  margin-right: 10px !important;
}
.padding-top-sm {
  padding-top: 15px;
}
.padding-right-sm {
  padding-right: 10px;
}
.padding-bottom-sm {
  padding-bottom: 15px;
}
.padding-top-md {
  padding-top: 40px;
}
.flex-end {
  justify-content: flex-end;
}
.center {
  align-items: center;
  justify-content: center;
}
.user-icon {
  width: 40px;
  height: 40px;
  padding: 2px;
  border: 2px solid;
  border-radius: 50%;
  object-fit: cover;
  
}
.row {
  margin: 12px;
}
.form-action {
  .qrx-btn {
    margin: 20px auto 0;
  }
}
.qrx-btn {
  height: 45px !important;
  color: white !important;
  background-color: $btn-bg-color !important;
  width: 100%;
  border-radius: 20px !important;
}
a.qrx-btn {
  text-decoration: none;
}
.v-footer {
  background-color: #1ac6b6 !important;
  color: white !important;
  span {
    margin: 0 auto;
  }
}

.blue-green {
  background-color: $primary-color !important;
  border-color:  $primary-color !important;
}

table > thead > tr > th {
    color: $primary-color !important;
}

.page-content{
  padding: 0.75rem;
}
.page-title{
  color: $primary-color;
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.back-button {
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
}
button.v-btn.dark, a.v-btn.dark{
  background-color: $primary-color !important;
  border-color: $primary-color !important;
  .v-btn__content{
    color: $white;
  }
}
.v-icon.primary-color{
  color: $primary-color !important;
}
.accordion-title{
  font-weight: 400;
}
.v-expansion-panel-content .v-expansion-panel-content__wrap{
  color: $secondary-color !important;
  border-top: 1px solid $border-gray;
  padding: 1rem .25rem;
}

/* Header Start */


.reseta-header {
  border-bottom: 1px solid $gray;
  background-color: $white;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
    0 1px 10px 0 rgb(0 0 0 / 12%);
  height: 120px !important;
  padding-top: 20px;
}
.header-top {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 12px;
}
.reseta-header .header-logo{
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reseta-header .other-icons{
  flex-basis: 30%;
  align-items: center;
  justify-content: end;
  display: flex;
}
.reseta-header .user{
  flex-basis: 30%;
  align-items: center;
  justify-content: start;
  text-align: left;
}
.logo-wide {
  max-height: 60px;
  height: 34px;
  width: 35px;
  margin: 0;
}
.reseta-logo-text {
  color: white !important;
  font-size: 19px;
  font-weight: 400;
  align-self: center;
  padding-left: 10px;
  // animation: glow 1s ease-in-out infinite alternate;
}
.sn-icons {
  display: flex;
  justify-content: center;
}
.sn-icons img {
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-radius: 50%;
  margin-left: 4px;
  padding: 4px;
}
.v-toolbar__extension {
  padding-top: 7px;
  border-top: 1px solid;
}
.menu-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.menu-icon {
  text-decoration: unset;
  width: 100%;
  text-align: center;
  &.nuxt-link-exact-active.nuxt-link-active i {
    color: $secondary-color;
  }
}
.notification-icon{
  margin-left: .5rem;
}

.page-list-title.page-item{
  padding-left: 0;
  font-weight: 500;
  font-size: 1rem;
}

.prescription-doctor-name {
  font-size: 1.25rem;
  font-weight: 500;
}
.prescription-doctor-use {
  margin-bottom: 4px;
}
.prescription-doctor-use,
.prescription-doctor-clinic,
.prescription-doctor-number {
  font-size: 1rem;
}
.medicine-badge{
  margin-left: auto;
}

.time {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 10px;
  font-weight: 400;
}

.prescription-form-image {
  width: 25%;
  max-width: 45px;
  align-self: center;
}
.patient-info{
  margin-bottom: 20px;
}
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #1ac6b6, 0 0 25px #1ac6b6, 0 0 30px #1ac6b6, 0 0 35px #1ac6b6, 0 0 40px #1ac6b6;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 25px #59e6ff, 0 0 30px #59e6ff, 0 0 35px #59e6ff, 0 0 40px #59e6ff, 0 0 45px #59e6ff, 0 0 50px #59e6ff;
    }
  }
.user-profile img{
  object-fit: cover;
}

/* Header End */

/* Table or List Start */
.table-avatar{
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.list-grid-btn button{
  color: $secondary-color !important;
}

.grid-single-name {
  font-size: 16px !important;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-top: .25rem;
}
.grid-single-content{
  font-size: 14px;
  color: $black !important;
}
/* Table or List End */

/* Singe Profile Start */
.user-profile img{
  border-radius: 100%;
  max-width: 200px;
  border: 2px solid $primary-color;
  margin-top: 10px;
}
.profile-top-info {
  position: relative !important;
  font-size: 16px;
  color: $black !important;
}
.profile-image img{
  border-radius: 100%;
  max-width: 200px;
  margin-top: 10px;
}
/* Singe Profile End */

/* Patients Page - Doctor's Account */
.main-patients-page{
  position: relative;
}
/* Doctors Page */
.main-doctors-page{
  position: relative;
}
@media screen and (max-width: 768px) {
  input, select, textarea {
    font-size: 16px;
  }
}