@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 100;
}
div,
a {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
  text-decoration: none;
}
.v-icon.outlined {
  border: 1px solid currentColor;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.no-margin {
  margin: 0 !important;
}
.width-fix {
  width: 100%;
}
.text-black {
  color: black;
}
.text-white {
  color: white;
}
.v-btn a {
  text-decoration: none;
}
.text-center-pd {
  text-align: center;
}
.normal-mg {
  margin-top: 20px !important;
}
.sm-margin {
  margin-top: 10px !important;
}
.margin-top-pull {
  margin-top: -20px !important;
}
.text-center {
  text-align: center;
  // padding: 15px 50px;
}
.padding-content {
  padding: 1% 7%;
}
.full-width {
  width: 100%;
}
.margin-right-sm {
  margin-right: 10px !important;
}
.padding-top-sm {
  padding-top: 15px;
}
.padding-right-sm {
  padding-right: 10px;
}
.padding-bottom-sm {
  padding-bottom: 15px;
}
.padding-top-md {
  padding-top: 40px;
}
.flex-end {
  justify-content: flex-end;
}
.center {
  align-items: center;
  justify-content: center;
}
@media all and (max-width: 369px) {
  .login-main-form {
    height: 440px !important;
  }
  .sign-up-sec {
    position: relative;
    top: 10px;
  }
}
@media all and (min-width: 369px) and (max-width: 600px) {
  .login-main-form {
    height: 520px;
  }
  .sign-up-sec {
    position: relative;
    top: 60px;
  }
  .login-main-btn {
    top: 35px;
  }
}
@media all and (max-width: 750px) {
  .sign-btn,
  .login-btn,
  .register-main-btn,
  .login-main-btn {
    width: 60% !important;
    border-radius: 20px 0px !important;
    margin-bottom: 10px !important;
  }
  .btn-radius {
    border-radius: 20px 0 !important;
  }
  .sign-in_login {
    background-image: url('~/assets/images/sign-in-login-background.png');
    background-repeat: no-repeat;
    background-size: 360px;
    background-position-y: 65px;
  }
}
.user-icon {
  width: 40px;
  height: 40px;
  padding: 2px;
  border: 2px solid;
  border-radius: 50%;
}
