@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './desktop', './tablet', './mobile';
h1,
h2,
h3,
h4,
h5,
h6
{
  font-weight: 500;
  color: $green-blue;
  margin: 20px 0;
}
p {
  font-weight: 300;
}
div,
a {
  font-weight: 300;
  color: $green-blue !important;
}
a.v-btn {
  color: white !important;
}
.v-icon.outlined {
  border: 1px solid currentColor;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.no-margin {
  margin: 0 !important;
}
.width-fix {
  width: 100%;
}
.text-black {
  color: #000;
}
.text-white {
  color: #fff;
}
.text-center-pd {
  text-align: center;
}
.normal-mg {
  margin-top: 20px !important;
}
.sm-margin {
  margin-top: 10px !important;
}
.margin-top-pull {
  margin-top: -20px !important;
}
.text-center {
  text-align: center;
  // padding: 15px 50px;
}
.no-padding {
  padding: 0 !important;
}
.padding-content {
  padding: 1% 7%;
}
.full-width {
  width: 100%;
}
.margin-right-sm {
  margin-right: 10px !important;
}
.padding-top-sm {
  padding-top: 15px;
}
.padding-right-sm {
  padding-right: 10px;
}
.padding-bottom-sm {
  padding-bottom: 15px;
}
.padding-top-md {
  padding-top: 40px;
}
.flex-end {
  justify-content: flex-end;
}
.center {
  align-items: center;
  justify-content: center;
}
.user-icon {
  width: 40px;
  height: 40px;
  padding: 2px;
  border: 2px solid;
  border-radius: 50%;
}
.row {
  margin: 12px;
}
.form-action {
  .qrx-btn {
    margin: 20px auto;
  }
}
.qrx-btn {
  height: 45px !important;
  color: white !important;
  background-color: $btn-bg-color !important;
  width: 100%;
  border-radius: 20px !important;
}
a.qrx-btn {
  text-decoration: none;
}
.v-footer {
  background-color: #1ac6b6 !important;
  color: white !important;
  span {
    margin: 0 auto;
  }
}
