@media all and (min-width: 369px) and (max-width: 600px) {
  .login-main-form {
    height: 520px;
  }
  .sign-up-sec {
    position: relative;
    top: 60px;
  }
  .login-main-btn {
    top: 35px;
  }
}