.first_div {
    margin-top: 153px;
    .Avatar_letterColor{
        color: white;
        font-size: 23px;
    }
    .Doctor h1 {
        color: black;
    }
    .Delete_button button {
        position: relative;
        top: 15px;
    }
    .Delete_button span{
        color: black;
    }
}