.doctors-grid-title {
  padding-left: 15px;
}
.doctors-grid {
  padding: 10px;
}
.active {
  display: none !important;
}
.doctor-list-card {
  box-shadow: none !important;
}

.doctors-grid-main-view {
  padding-bottom: 15px !important;
}
.grid-single-content,
.grid-single-number{
  font-size: 12px;
  color: $black !important;
}
.search-doctors-input {
  padding: 15px 15px 0 15px;
  margin-bottom: -15px;
}
.page-list-title {
  font-weight: 500;
  font-size: 1rem;
}
.doctor-content, .doctor-number{
  color: $black !important;
}
.doctor-information {
  .name {
    font-size: 19px;
    font-weight: bold;
  }
  .address,
  .contact {
    font-weight: 400;
  }
  .content {
    font-size: 15px;
    padding-top: 14px;
  }
}
.doctors-background-color{
  padding: 8px 0;
}
.doctor-profile {
  margin-top: 10px;
}
.doctors-list-info {
  position: relative !important;
  top: -3px;
  font-size: 15px !important;
  font-weight: 400;
}
.grid-single-image {
  img {
    width: 50px;
    height: 50px;
  }
}
.list-grid-btn {
  position: absolute;
  right: 10px;
  z-index: 999;
  top: 80px;
}
.doctors-grid-view .v-sheet.v-card:not(.v-sheet--outlined),
.doctor-list-view .v-sheet.v-card:not(.v-sheet--outlined) {
  box-shadow: none;
}
div#word-related {
  font-size: 13px;
}
.clinic-sched-title,
.doctor-sched-title {
  font-size: 20px;
  font-weight: 500;
}
.chatbox-undo {
  position: absolute;
  top: 10px;
  left: 5px;
}
.list-contact-doctor {
  position: absolute;
  right: 24px;
  z-index: 999 !important;
}
.grid-contact-doctor {
  margin-top: 10px !important;
  position: absolute;
}
.doctor-profile-title {
  font-weight: bold;
  font-size: 23px;
  font-style: italic ;
}
.doctor-list-main-btn {
  position: relative !important;
  z-index: 1 !important;
}
.list-profile-doctor {
  position: absolute;
  right: 65px;
}
.grid-profile-doctor {
  position: absolute;
  z-index: 999 !important;
  right: 35px;
}
.grid-contact-doctor {
  position: relative;
  left: 35px;
}
.doctor-content,
.doctor-number {
  position: relative;
  z-index: 1;
}