.doctors-grid-title {
  padding-left: 15px;
}
.doctors-grid {
  padding: 10px;
}
.active {
  display: none !important;
}
.doctor-list-card {
  box-shadow: none !important;
}
.doctors-grid-main-view.col:nth-child(odd) {
  display: none;
}
.grid-single-name,
.grid-single-content,
.grid-single-number {
  font-size: 11px;
}
.grid-single-name {
  font-weight: bold;
  height: 29px;
  display: flex;
  align-items: center;
}
.search-doctors-input {
  padding: 15px 15px 0 15px;
  margin-bottom: -15px;
}
.doctors-list-title {
  padding-bottom: 15px;
}
.doctor-information {
  .name {
    font-size: 19px;
    font-weight: bold;
  }
  .address,
  .contact {
    font-weight: 400;
  }
}
.doctor-profile {
  margin-top: 60px;
  img {
    width: 40%;
    height: 40%;
    margin-top: -50px;
  }
}
.grid-single-image {
  img {
    width: 50px;
    height: 50px;
  }
}
.list-grid-btn {
  position: absolute;
  right: 10px;
  z-index: 999;
}
.doctors-grid-view .v-sheet.v-card:not(.v-sheet--outlined),
.doctor-list-view .v-sheet.v-card:not(.v-sheet--outlined) {
  box-shadow: none;
}
