.search-main-input {
  position: relative;
  top: -10px;
}
.secondary-color {
  color: #60646a !important;
  text-decoration: none;
}
.search-main-title {
  position: relative;
  float: right;
  left: -65px;
}
.cancel-search,
.icon-back {
  color: white !important;
  text-decoration: none;
}
.cancel-search-section {
  padding-top: 20px;
}
.user i {
  border: 1px solid;
  border-radius: 100%;
}
.search-result-row {
  padding-bottom: 10px;
}
.search-options {
  position: relative;
  top: -90px;
  background: #f6f7f9;
  height: 45px;
}

.search-divider {
  position: relative;
  top: -55px;
}
.row.search-fields {
  position: relative;
  top: -59px;
}
.search-input {
  background: #1ac6b6;
  height: 115px;
  padding-top: 10px;
}
.search-form {
  height: 125px;
}
.search-result {
  padding: 10px;
  position: relative;
  top: 45px;
}
li {
  list-style: none;

  .user {
    width: 25px;
    i {
      width: 35px;
      height: 35px;
      font-size: 30px;
    }
  }
}
