.cancelActive {
  position: relative;
  z-index: 999 !important;
  color: black !important;
  right: -30px;
}
.search-main-input {
  position: relative;
  top: -10px;
}
.secondary-color {
  color: #60646a !important;
  text-decoration: none;
}
.searchFocus {
  position: absolute;
  left: 10px;
  z-index: 99;
  width: 95% !important;
}
.search-result {
  position: relative;
  padding: 0;
  top: -40px;
  margin-top: 0 !important;

}
.search-main-title {
  margin-top: 0;
  position: relative;
  float: right;
}
.cancel-search,
.icon-back {
  color: white !important;
  text-decoration: none;
}
.icon-back {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 999 !important;
}
.cancel-search-section {
  padding-top: 20px;
}
.user i {
  border: 1px solid;
  border-radius: 100%;
}
.search-result-row {
  padding-bottom: 10px;
}
.search-options {
  position: relative;
  top: -90px;
  background: #f6f7f9;
  height: 45px;
}

.search-divider {
  position: relative;
  top: -55px;
}
.row.search-fields {
  position: relative;
  top: -59px;
}
.search-input {
  background: #1ac6b6;
  height: 105px;
}
.search-form {
  height: 125px;
}
.v-menu__content {
  max-width: 100% !important;
  max-height: 100% !important;
  width: 100% !important;
  min-width: 100% !important;
  left: 0 !important;
  height: 100% !important;
  box-shadow: none !important;
  top: 105px !important;
}
.recent_result {
  padding: 10px;
  position: relative;
  top: -80px;
  .results_list {
    padding: 10px 0 !important;
  }

}
li {
  list-style: none;

  .user {
    width: 25px;
    i {
      width: 35px;
      height: 35px;
      font-size: 30px;
    }
  }
}
