.search-main-input {
  position: relative;
  top: -10px;
}
.v-input__slot {
  background: transparent !important;
  border: 2px solid grey !important;
  border-radius: 25px !important;
}
.search-options {
  position: relative;
  top: -50px;
}
.search-divider {
  position: relative;
  top: -55px;
}
.search-input {
  background: #129792;
  background-image: linear-gradient(60deg, #129792, #99f0e7);
}
.search-form {
  height: 125px;
}
.search-result {
  padding: 10px;
}
li {
  list-style: none;

  .user {
    width: 25px;
  }
}
