.list-grid-btn {
  margin-top: -18px;
  position: relative;
  z-index: 999;
}
.list-grid-btn a {
  box-shadow: none !important;
}
.pharmacys-list-title {
  height: 30px;
  margin-top: -10px;
  padding-bottom: 15px;
  padding-left: 0;
}
.patient_pharmacy_title {
  margin-top: 5px !important;
}
.pharmacy-list-title {
  padding: 0 10px;
  font-size: 14px;
}
.pharmacy-list-main-btn {
  margin-top: -23px;
}
.list-profile-pharmacy {
  position: absolute;
  right: 65px;
}
.list-contact-pharmacy {
  position: absolute;
  right: 0px;
  z-index: 999 !important;
}
.medicine-sub-info {
  font-size: 12px;
  font-weight: 300;
}
.pharmacy-list-section {
  margin-top: -6px;
  margin-bottom: -20px;
}
.pharmacy-list-view .v-sheet.v-card:not(.v-sheet--outlined) {
  box-shadow: none;
}
