// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// Color Variables 
// ========================================================================
$font-family:                       'Roboto', sans-serif;
$primary-color:                     #1ac6b6;
$secondary-color:                   #00203f;
$btn-bg-color:                      #07c0af;

$white:			 				    #FFFFFF; 
$black:							    #000000;
//$blue:                              #6087D2;  // Skin blue
$wild-sand:                         #ffffff;  
$silver:                            #f5f5f5;    
$gray:                              #CCCCCC;  
//$red:            					#ff0000;
$red-light:            				#ff9999;
$yellow-light:           			#ffdc73;
$green-blue:                        #1ac6b6;
$transparent:						transparent;

// Fonts 
// ========================================================================
$sm-font:                           9px;
$md-font:                           14px;

// Other Properties 
// ========================================================================
$box-shadow:                        0px 8px 20px rgba(0, 0, 0, 0.4);

$data-table-mobile-row-min-height: 30px;

table > thead > tr > th {
    color: $primary-color !important;
}

