.page-content {
    padding: 0 !important;
}
.update-pass__inputs {
    padding: 10px;
}
.user-image {
    padding-top: 10px;
    text-align: center;
    img {
      border-radius: 100%;
      border: 2px solid #1ac6b6;
      object-fit: cover;
    }
  }
  .settings-title {
    font-size: 22px;
    font-weight: 600;
    padding-block: 15px;
  }
  .settings-header {
    background: #1ac6b6;
    display: flex;
    height: 50px;
    align-self: center;
    .back-btn {
      position: absolute;
      top: 10px;
      left: 10px;
    }
    .header-title {
      color: white !important;
      justify-content: center;
      width: 100%;
      font-weight: 400;
      text-align: center;
      font-size: 19px;
    }
  }