.color-white {
  color: white;
}
.settings-header {
  background: #1ac6b6;
  display: flex;
  height: 50px;
  align-self: center;
  .back-btn {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .header-title {
    color: white !important;
    justify-content: center;
    width: 100%;
    font-weight: 400;
    text-align: center;
    font-size: 19px;
  }
}
.settings-body {
  padding: 20px 0 0 0;
  .user-image {
    text-align: center;
    img {
      border-radius: 100%;
      border: 2px solid #1ac6b6;
      object-fit: cover;
    }
  }
  .settings-title {
    font-size: 22px;
    font-weight: 600;
    padding-top: 20px;
  }
  .settings-options {
    padding-top: 10px;
    .accordion-title {
      padding-left: 10px;
    }
  }
}
.settings-footer {
  margin-top: 20px;
  text-align: center;
  justify-content: center;
}