
.patient-main-section {
  position: relative;
  top: 145px;
  .patient-date {
    position: absolute;
    right: 0;
    margin-top: -30px;
    font-size: 12px;
  }
  .patient-title {
    font-size: 19px;
  }
}
.no-customers-order {
  color: grey !important;
  padding-top: 50px;
  font-size: 20px;
  text-align: center;
}
.user {
  padding: 0 !important;
}
.find-doctors {
  padding-top: 60%;
}
#dashboard-main-btn-right {
  float: right;
}
#dashboard::-webkit-scrollbar {
  width: 20px;
}

#dashboard::-webkit-scrollbar-track {
  background-color: transparent;
}

#dashboard::-webkit-scrollbar-thumb {
  background-image: url('~/assets/images/chevron-down.png'); 
  background-repeat: no-repeat, no-repeat;
  background-size: 20px;
}