
.patient-main-section {
  position: relative;
  top: 145px;
  .patient-date {
    position: absolute;
    right: 0;
    margin-top: -30px;
    font-size: 12px;
  }
  .patient-title {
    font-size: 19px;
  }
}
.no-customers-order {
  color: grey !important;
  padding-top: 50px;
  font-size: 20px;
  text-align: center;
}
.user {
  padding: 0 !important;
}
.find-doctors {
  padding-top: 60%;
}
#dashboard-main-btn-right {
  float: right;
}
#dashboard::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#dashboard::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#dashboard::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}