
.patient-main-section {
  position: relative;
  top: 145px;
  .patient-date {
    position: absolute;
    right: 0;
    margin-top: -30px;
    font-size: 12px;
  }
  .patient-title {
    font-size: 19px;
  }
}
.user {
  padding: 0 !important;
}
