.prescription-form-image {
  width: 25%;
  text-align: center;
}
.prescription-form-info {
  width: 75%;
}
.prescription-patient-name {
  font-size: 16px;
  font-weight: 400;
}
.prescription-patient-use,
.prescription-patient-clinic,
.prescription-patient-number {
  font-size: 14px;
  height: 15px;
}
.top-patient-info,
.center-patient-info,
.bottom-patient-info,
.medicine-top,
.medicine-bottom {
  height: 50px;
}
.patient-secondary-info {
  margin-top: 20px;
}
.patient-medicine-prescription {
  margin-top: 10px;
}
.patient-date-prescription {
  .logo-wide {
    width: 25%;
  }
}
.patient-info-time {
  font-size: 13px;
}
