.v-expansion-panel-content__wrap {
  display: flex !important;
  .wallet-main-content {
    font-size: 14px;
    padding: 10px 0px 15px 10px;
  }
  .paynow-button {
    font-size: 17px;
  }
}
.information-switch {
  position: absolute;
  right: 25px;
  top: 260px;
}
.card-secondary-input .v-input__slot {
  width: 80%;
}
.active {
  display: none !important;
}
.wallet-dropdown-icon {
  width: 10% !important;
  position: absolute !important;
}
.wallet-accordion-title {
  padding-left: 13%;
}
.wallet-title {
  font-size: 25px;
  .wallet-title-e {
    font-size: 35px;
  }
  .wallet-title-amount {
    font-size: 20px;
    padding-right: 10px;
    width: 50%;
    text-align: right;
  }
  .wallet-title-main-amout-title {
    width: 50%;
    padding-left: 10px;
  }
}
.ordered-quantitity {
  border: 1px solid;
  padding: 2px 4px;
  border-radius: 3px;
}
.ordered-product-section {
  border-bottom: 1px solid;
  padding-bottom: 12px;
}
.ordered-options i {
  font-size: 30px !important;
}
.ordered-table {
  width: 100%;
  font-size: 16px;
  padding-top: 12px;

  td {
    padding: 2px;
  }
  td:first-child {
    font-weight: 400;
  }
  th {
    text-align: left;
    padding: 2px;
  }
  .total td:last-child,
  .overall-total td:last-child {
    border-top: 1px solid;
  }
  .total td {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .total td,
  .overall-total td {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
  }
}
.dispense {
  margin-top: 32px;
}
